/*	Resets
	------	*/

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, 
p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, 
img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, hr, 
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, 
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figure, figcaption, hgroup, 
menu, footer, header, nav, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-weight: normal;
}

article, aside, canvas, figure, figure img, figcaption, hgroup,
footer, header, nav, section, audio, video {
	display: block;
}

a img {border: 0;}

/*	Typography presets
	------------------	*/

.gigantic {
	font-size: 110px;
	line-height: 120px;
	letter-spacing: -2px;
}

.huge, h1 {
	font-size: 68px;
	line-height: 72px;
	letter-spacing: -1px;
}

.large, h2 {
	font-size: 42px;
	line-height: 48px;
}

.bigger, h3 {
	font-size: 26px;
	line-height: 36px;
}

.big, h4 {
	font-size: 22px;
	line-height: 30px;
}

body {
	font: 16px/24px Georgia, serif;
	/*font: 16px/24px Helvetica, Arial, sans-serif;*/
}

.small, small {
	font-size: 13px;
	line-height: 18px;
}

/*		Default Layout: 992px. 
		Gutters: 24px.
		Outer margins: 48px.
		Leftover space for scrollbars @1024px: 32px.
-------------------------------------------------------------------------------
cols    1     2      3      4      5      6      7      8      9      10
px      68    160    252    344    436    528    620    712    804    896    */

body {
	width: 960px;
	/* padding: 72px 48px 84px; */
	background: rgb(232,232,232);
	margin: auto;
	color: rgb(60,60,60);
	-webkit-text-size-adjust: 100%; /* Stops Mobile Safari from auto-adjusting font-sizes */
}

#page {
	background: #f8f8f8;
		-moz-border-radius: 4px;
		-webkit-border-radius: 4px;
		border-radius: 4px;
}

#header {
	clear: both;
	margin-top: 48px;
	margin-right: 48px;
	margin-bottom: 12px;
	margin-left: 48px;
}

#content {
	float: left;
	width: 520px;
	margin-top: 12px;
	margin-right: 12px;
	margin-bottom: 24px;
	margin-left: 48px;
	/* padding: 24px; */
	clear: left;
}

#aside {
	float: right;
	width: 320px;
	margin-top: 12px;
	margin-right: 48px;
	margin-bottom: 24px;
	margin-left: 12px;
	clear: right;
}

#footer {
	margin-right: 48px;
	margin-bottom: 48px;
	margin-left: 48px;
	clear: both;
}

h1, h2, h3, h4, h5, h6 {
	padding: 24px 24px 6px 24px;
}

p {
	padding: 6px 24px 6px 24px;
}

ul {
	margin-top: 6px;
	margin-right: 24px;
	margin-bottom: 12px;
	margin-left: 48px;
}


